---
---

@import 'constants';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  margin: 0;
  padding: 0;

  @include media-query(MOBILE) {
    font-size: 14px;
  }
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: $COLOR-BACKGROUND;
  color: $COLOR-TEXT;
  font-family: $FONT-TEXT;
}

strong { font-weight: bold; }
em { font-style: italic; }
s { text-decoration: line-through; }

a {
  color: $COLOR-LINK;
  cursor: pointer;
  text-decoration: none;
  transition: color $TRANSITION-PERIOD linear;

  &:visited {
    color: $COLOR-LINK;
  }

  &:hover {
    color: $COLOR-LINK-HOVER;
  }
}

//::-moz-selection {
//  background-color: $COLOR-BACKGROUND;
//  color: #fff;
//}
//
//::selection {
//  background-color: $COLOR-BACKGROUND;
//  color: #fff;
//}

.home-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: $COLOR-BACKGROUND;
}

.scroll-container-overflow {
  position: absolute;
  top: 0;
  left: 20.5%;
  height: 100%;
  overflow: hidden;

  .scroll-container {
    position: relative;
    top: 0;

    .scroll-text {
      font-size: 22px;
      user-select: none;
    }
  }
}

.page-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  
  .index-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;

    .index-image {
      width: 66%;
      margin: 0;
      box-sizing: border-box;
    }

    .index-arrows-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 20%;
      height: 100%;
      box-sizing: border-box;
    }
  }

  .signup-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    @include media-query(MOBILE) {
      width: 95%;
    }

    .signup-text {
      text-align: center;
    }

    .signup-error {
      margin-top: 50px;
      opacity: 0;
      color: $COLOR-TEXT-ERROR;
      font-size: 13px;
      text-align: center;
      padding-bottom: 8px;
    }

    .signup-form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      text-align: center;

      label {
        text-transform: uppercase;
        text-align: right;
      }

      input {
        width: 50%;
        margin: 0 40px;
        padding: 2px 6px;
        border: 0;
        line-height: 1.7;

        &:focus {
          outline:none;
        }
      }
    }
  }

  .thankyou-container {
    width: 360px;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: baseline;
    justify-content: space-between;
    box-sizing: border-box;

    @include media-query(MOBILE) {
      justify-content: center;
    }

    .thankyou-text {
      width: 245px;
      font-size: 48px;
      font-family: $FONT-LOGO;
      color: $COLOR-TEXT-LIGHT;
      text-align: right;
      text-transform: uppercase;
      user-select: none;

      @include media-query(MOBILE) {
        font-size: 24px;
        width: 122px;
      }
    }
  }

  .index-image, .index-arrows-image, .thankyou-image, .signup-button-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .index-image {
    width: 70%;
    padding-bottom: calc((270 / 2350) * 70%);
    background-image: url({{ site.baseurl }}/imgs/title.svg);
  }

  .index-arrows-image {
    width: 20%;
    margin: 0;
    padding-bottom: calc((55 / 107) * 20%);
    margin-left: 20%;
    background-image: url({{ site.baseurl }}/imgs/arrows.svg);

    @include media-query(MOBILE) {
      width: 50%;
      padding-bottom: calc((55 / 107) * 50%);
    }
  }

  .signup-button-image {
    cursor: pointer;
    margin: 0;
    width: 10%;
    padding-bottom: 24px;
    background-image: url({{ site.baseurl }}/imgs/arrows.svg);
    background-position: left bottom;
  }

  .thankyou-image {
    width: 70px;
    padding-bottom: calc((233 / 177) * 70px);
    background-image: url({{ site.baseurl }}/imgs/logo.svg);
    @include media-query(MOBILE) {
      width: 10%;
      padding-bottom: calc((233 / 177) * 10%);
    }
  }
}

#mc_embed_signup {
  position: absolute;
  top: -1000px;
  left: 50%;
}
