<div class="page-content">
  <div class="signup-container">
    <div class="signup-text">Se inscreva aqui para maiores informações</div>
    <div class="signup-text">Subscribe here if you want to know more</div>
    <div id="my-signup-error" class="signup-error">error</div>
    <div id="mc_embed_signup">
      <form action="https://art.us2.list-manage.com/subscribe/post?u=6c098ed14f189a9374137fc2b&amp;id=13041643a9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div id="mc-input-group" class="mc-field-group">
              <label for="mce-EMAIL">E-mail</label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_6c098ed14f189a9374137fc2b_13041643a9" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </div>
      </form>
    </div>
    <div class="signup-form">
      <label>E-mail</label>
      <input type="text" id="my-email-input" >
      <div id="my-signup-button" class="signup-button-image"></div>
    </div>
  </div>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript' src="{{ site.baseurl }}/js/mc.js"></script>
