$FONT-TEXT: 'Exo 2', sans-serif;
$FONT-LOGO: 'Megrim', cursive;

$COLOR-BACKGROUND: #cdf400;
$COLOR-TEXT-LIGHT: #fff;
$COLOR-TEXT: #939598;

$COLOR-LINK: $COLOR-TEXT;
$COLOR-LINK-HOVER: $COLOR-TEXT;

$TRANSITION-PERIOD: 0.1s;

$DESKTOP-WIDTH-MIN: 900px;

@mixin media-query($canvas) {
  @if $canvas == MOBILE {
    @media only screen and (max-width: $DESKTOP-WIDTH-MIN) { @content; }
  }
}
